<div class="card">
  <div class="card-body">
    <a *ngIf="isWidget; else topRight" href="" class="btn btn-sm btn-link float-end">View more</a>
    <ng-template #topRight>
      <a *ngIf="exportFlag" href="" class="btn btn-sm btn-link float-end">Export
        <i class="mdi mdi-download ms-1"></i>
      </a>
    </ng-template>

    <h4 class="header-title mt-2 mb-3">{{this.reportTitle}}</h4>

    <div class="table-responsive">
      <table class="table table-centered table-nowrap table-hover mb-0">
        <thead>
        <tr>
          <th *ngFor="let colTitle of colTitles">{{colTitle}}</th>
        </tr>
        </thead>

        <tbody *ngIf="isDataAvailable(); else emptyTable">
        <tr *ngFor="let data of tableData">
          <td *ngIf="data.investor">
            <a [routerLink]="['/investor', data.investor]">
              <h5 class="font-14 my-1 fw-normal">{{data.investor}}</h5>
            </a>
          </td>
          <td *ngIf="data.security !== ''">
            <a [routerLink]="['/security', data.security]">
              <h5 class="font-14 my-1 fw-normal">{{data.security}}</h5>
            </a>
          </td>
          <td *ngIf="data.isin">
            <h5 class="font-14 my-1 fw-normal">{{data.isin}}</h5>
          </td>
          <td *ngIf="data.position">
            <h5 class="font-14 my-1 fw-normal">{{data.position}}</h5>
          </td>
          <td *ngIf="data.positionChange">
            <h5 class="font-14 my-1 fw-normal">
              <span *ngIf="data.positionChange < 0; else arrowUp;" class="text-danger me-2">
                <i class="mdi mdi-arrow-down-bold"></i> {{data.positionChange}}</span>

              <ng-template #arrowUp>
                <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> {{data.positionChange}}</span>
              </ng-template>

            </h5>
          </td>
          <td>
            <h5 class="font-14 my-1 fw-normal">{{data.reportDate}}</h5>
          </td>
        </tr>
        </tbody>

        <ng-template #emptyTable>
          <tr>
            <td colspan="5">
              <h5 class="font-14 my-1 fw-normal">There is no data</h5>
            </td>
          </tr>
        </ng-template>
      </table>
    </div>
  </div>
</div>
